@model ApplicationCore.Models.MovieListModel

<div class="container">
    @foreach(var cast in Model.lst){
        <div class="row">
        <div class="col-sm">
            <img src="@cast.PosterUrl" style="height:4em;"> 
        </div>
        <div class="col-sm">
            @cast.Title
        </div>
        </div>
    }
</div>
