@model ApplicationCore.Models.MovieDetailsModel
<h1 style="color:black">
    Price is NULL use Budget instead: @Model.Budget $
</h1>
<br/>
<br/>
<h2>
    <button type="button" class="btn btn-outline-primary">Purchase</button>
</h2>
